<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mySpring.www.repository.BoardDAO">
	<insert id="insert">
		insert into board(title, writer, content)
		values (#{title},#{writer},#{content})
	</insert>
	<update id="updateCmtCount">
		update board as b set b.cmt_qty = (select count(cno) from comment as c where c.bno = b.bno)
	</update>
	<update id="updateFileCount">
		update board as b set b.has_file = (select count(uuid) from file as f where f.bno = b.bno)
	</update>
	<select id="selectOneBno" resultType="long">
		select max(bno) from board
	</select>
	<select id="getList" resultType="com.mySpring.www.domain.BoardVO">
		select * from board
		<include refid="search" />
		order by bno desc limit #{pageStart}, #{qty}
	</select>
	<select id="getDetail" resultType="com.mySpring.www.domain.BoardVO">
		select * from board where bno = #{bno}
	</select>
	<update id="setReadCount">
		update board set read_count = read_count + #{cnt} where bno = #{bno}
	</update>
	<update id="update">
		update board set title = #{title}, content = #{content}, mod_at = now() where bno = #{bno}
	</update>
	<delete id="delete">
		delete from board where bno = #{bno}
	</delete>
	<select id="getTotalCnt" resultType="int">
		select count(bno) from board
		<include refid="search" />
	</select>
	<sql id="search">
		<if test="type != null">
			<trim prefix="where " prefixOverrides="OR">
				<foreach collection="typeToArray" item="type">
					<trim prefix="OR">
						<choose>
							<when test="type == 't'.toString">
								title like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'w'.toString">
								writer like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'c'.toString">
								content like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
</mapper>